.tabs {
  max-width: 1000px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

td > div {
  padding: 8px;
  cursor: pointer;
  height: 100%;
}

.div-inside-td {
  margin-top: 0;
  margin-bottom: 0;
}

.table > tbody > tr > td {
  padding: 0px;
}

.search {
  float: left;
  display: inline-flex;
  height: 30px;
}

.search-reset {
  margin-right: 2px;
  float: right;
  width: 20%;
}

input[type=text].form-control{
  width: 150px;
  margin: 10px;
}

.checkbox input[type=checkbox] {
  margin-left: 0;
}

.checkbox input[type=checkbox].areAllChecked {
  margin-left: -20px;
}

.checkbox{
  display: inline-block;
}

.search-reset button {
  width: 45%;
  margin-right: 3px;
  margin-left: 3px;
  margin-top: 0;
  margin-bottom: 0;
}