.tabs {
  max-width: 1000px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

td > div {
  padding: 8px;
  cursor: pointer;
  height: 100%;
}

.div-inside-td {
  margin-top: 0;
  margin-bottom: 0;
}

.table > tbody > tr > td {
  padding: 0px;
}

.search {
  float: left;
  display: inline-flex;
  height: 30px;
}

.search-reset {
  margin-top: 10px;
  margin-right: 2px;
  float: right;
  width: 30%;
}

input[type].form-control {
  width: 150px;
  margin: 10px;
}

input[placeholder=Id].form-control {
  width: 60px;
}

input[placeholder=RoomId].form-control {
  width: 80px;
}

input[placeholder=ClientId].form-control {
  width: 80px;
}

input[placeholder=Comfort].form-control {
  width: 80px;
}

input[placeholder=Floor].form-control {
  width: 80px;
}

input[placeholder=Price].form-control {
  width: 80px;
}

input[placeholder=Term].form-control {
  width: 80px;
}

input[type=datetime-local].form-control {
  width: 220px;
}

.checkbox input[type=checkbox]{
  margin-left: 10px;
}

.checkbox input[type=checkbox].areAllChecked{
  margin-left: -15px;
}

.CreateDelete button{
  margin: 5px;
  width: 140px;
}

.dialog-label {
  margin: 5px;
  margin-left: 10px;
  display: block;
}

.checkbox-label {
  margin: 5px;
  margin-left: 10px;
  display: inline-block;
}

.checkbox {
  display: inline-block;
}

.search-reset button {
  width: 45%;
  margin-right: 3px;
  margin-left: 3px;
  margin-top: 0;
  margin-bottom: 0;
}