$color: black;

body {
  color: $color;
}

.divHover {
  cursor: pointer;
  height: 100%;
  padding: 8px;
}

table {
  width: 100%
}

table {
  thead {
    tr {
      td {
        padding: 0px;
      }
    }
  }
}

.search {
  float: right;
  display: inline-flex;
}

.tabs {
  max-width: 1000px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}